#aboutme {
    padding: 50px;
    max-height: 100vh;
}

#aboutme h2 {
    margin-bottom: 20px;
}

#aboutme p {
    font-size: 21px;
    font-weight: 500;
}
.about-container {
    display: flex;
    align-items: center;
}

.about-text {
    width: 100%;
    margin-right: 40px;
}

.about-text p {
    font-size: 21px;
    font-weight: 400;
    line-height: 1.5;
    width: 90%;
    margin: 0 auto;
    text-align: justify;
}

