footer {
    display: flex;
    justify-content: space-between;
    /* justify-content: center; */
    align-items: center;
    padding: 20px;
    background-image: linear-gradient(to right, #003d93, #0068ba, #008baa, #00a76d, #5fba00);
    color: #fff;
}

.social-links {
    display: flex;
    align-items: center;
}

.social-links a {
    margin-right: 10px;
    color: #fff;
    text-decoration: none;
}

p {
    margin: 0;
}