.header {
    /* background-color: #34495e; */
    background-image: linear-gradient(to right, #003d93, #0068ba, #008baa, #00a76d, #5fba00);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

h1 {
    font-size: 24px;
    margin: 0;
    color: #fff;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
}

li {
    margin: 0 20px;
}

a {
    color: #fff;
    text-decoration: none;
}