.header {
    /* Blue to Green */
    background-image: linear-gradient(to right, #003d93, #0068ba, #008baa, #00a76d, #5fba00);
    /* Green to White to Red */
    /* background-image: linear-gradient(to right, #008c45, #559f5c, #82b278, #a9c598, #ccd9bb, #d0d6b4, #d5d3ae, #dbd0a9, #d4b077, #d28b4d, #d16132, #cd212a); */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.header h1 {
    font-size: 24px;
    margin: 0;
    color: #fff;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
}

li {
    margin: 0 20px;
}

.header a {
    color: #fff;
    text-decoration: none;
    position: relative;
}

a::after {
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background-color: #fff;
    transition: width 0.3s ease-in-out;
    position: absolute;
    bottom: -5px;
    left: 0;
}

a:hover::after {
    width: 100%;
}
