#home {
    padding: 50px;
    max-height: 100vh;
}

.home-container {
    display: flex;
    align-items: center;
}

.home-text {
    width: 100%;
    margin-right: 25px;

    display: flex;
    align-items: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.main-text h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.home-pic img {
    width: 80%;
    height: auto;
    border-radius: 50%;
    margin: 0 50px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.main-text {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.main-text img {
    width: 25%;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    height: 50px;
    width: 50px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    display: inline-block;
    vertical-align: middle;
}

.secondary-text {
    margin-top: 0;
}

.secondary-text h3 {
    font-size: 21px;
    font-weight: normal;
    margin: 0 0 16px;
}

.secondary-text p {
    font-size: 18px;
    font-weight: lighter;
    text-align: center;
}

.enterFromLeft {
    animation: enterFromLeft 2s ease-in-out;
}

.fadeIn {
    animation-name: fadeIn;
    animation-duration: 4s;
}

@keyframes enterFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
