#projects {
    padding: 0 50px;
    text-align: center;
}

#projects h2,
#projects h3,
#projects p {
    margin: 10px 0;
}

.project-gallery {
    display: inline-block;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.project-gallery img {
    width: 60%;
    height: auto;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin-bottom: 10px;
}

.project-gallery button {
    display: inline-block;
    margin: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    text-align: center;
    background-color: white;
    color: black;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
}

.project-gallery .arrow {
    padding: 10px 15px;
    border-radius: 100%;
}

.project-gallery .primary-button {
    border-radius: 50px;
    padding: 10px 20px;
    color: #003D93;
    transition: all .5s ease;
    text-transform: capitalize;
}

.project-gallery .primary-button:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
