#projects {
    padding: 40px;
    text-align: center;
}

#projects h2 {
    margin-bottom: 20px;
}

#projects p {
    margin-bottom: 10px;
}

.project-gallery {
    display: inline-block;
    flex-direction: column;
    align-items: center;
}

.project-gallery img {
    width: 50%;
    height: auto;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.project-gallery button {
    display: inline-block;
    margin: 5px;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 1.2rem;
    cursor: pointer;

    background-color: white;
    color: black;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border: none;
}

.project-gallery button:hover {
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.project-gallery a button {
    color: #003D93;
}