section#skills {
    padding: 50px;
}

#skills h2 {
    margin-bottom: 20px;
}

.skills-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 100%;
}

.skills-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skills-grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100px;
    margin: 16px;

    font-size: 100px;

    background-color: #f0f0f0;
    padding: 16px 0px;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    transition: all .5s ease;
}

.skills-grid-item:hover {
    transform: scale(1.1);
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.7);
}
